<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="head.html"/>
<body class="index">
<div class="jumbotron text-center">
    <h1>$title</h1>
</div>
<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/">Nodes</a>
                    <a class="nav-link" href="/types">Types</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <xi:include href="$content"/>
    </main>
</div>
<div id="footer">
    <hr/>
    <p class="legalese">© 2020 fremag</p>
</div>
</body>
</html>
