<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="head.html"/>
<body class="index">
<div class="jumbotron text-center">
    <h1>$title</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">GraphExp</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/types">Types</a></li>
      <li class="nav-item"><a class="nav-link" href="/A">AAA</a></li>
      <li class="nav-item"><a class="nav-link" href="/B">BBB</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <xi:include href="$content"/>
</div>

<div id="footer">
    <hr/>
    <p class="legalese">© 2020 fremag</p>
</div>
</body>
</html>
