<div class="container">
    <h1>$name</h1>

 <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#info">Info</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#pre">Predecessors</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#suc">Successors</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#dom">Dominance</a></li>
  </ul>

  <div class="tab-content">
    <div id="info" class="tab-pane fade in active">
      <h3>Info</h3>
      <p></p>
    </div>
    <div id="pre" class="tab-pane fade">
      <h3>Predecessors</h3>
      <p></p>
    </div>
    <div id="suc" class="tab-pane fade">
      <h3>Successors</h3>
      <p></p>
    </div>
    <div id="dom" class="tab-pane fade">
      <h3>Dominance</h3>
      <p></p>
    </div>
  </div>

</div>
