<div class="container">
    <script src="/static/scripts/nodeTable.js"/>

    <h1>$name</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#info">Info</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#pre">Predecessors</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#succ">Successors</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#dom">Dominance</a></li>
    </ul>

    <div class="tab-content">
        <div id="info" class="tab-pane active">
    <script type="text/javascript">
            $(document).ready(function () {
                $('#info').tree({
                    uiLibrary: 'bootstrap4',
                    dataSource: '/json/tree/$name',
                    primaryKey: 'id',
                    imageUrlField: 'flagUrl'
                });
            });

    </script>

        </div>
        <div id="pre" class="tab-pane">
            <script>
                CreateNodeTable("pre", "/json/pre/${name}", "preTable");
            </script>
        </div>
        <div id="succ" class="tab-pane">
            <script>
                CreateNodeTable("succ", "/json/succ/${name}", "succTable");
            </script>
        </div>
        <div id="dom" class="tab-pane">
            <script>
                CreateNodeTable("dom", "/json/imm_dom/${name}", "domTable");
            </script>
        </div>
    </div>

</div>
