<div class="container">
    <div class="row">
        <table id="nodes" class="table table-condensed table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Node</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script>
    $(document).ready(function() {
        $.getJSON( "/json/type/${type_name}", function( json ) {
            $('#nodes').DataTable({
                    data: json,
                    pageLength: -1,
                    columns: [
                        {
                            data: 'name',
                            render: function ( data, type, row ) {
                                return '<a href="'+ row['url']+'">'+data+'</a>';
                            }
                        }
                    ]
                });
        });
    });

    </script>
</div>