<div>
<div class="container">
    <div class="row">
        <table id="nodes" class="table table-condensed table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Type</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        $.getJSON( "/json/types", function( json ) {
            $('#nodes').DataTable({
                    data: json,
                    pageLength: -1,
                    columns: [
                        {
                            data: 'type',
                            render: function ( data, type, row ) {
                                return '<a href="'+ row['url']+'">'+data+'</a>';
                            }
                        },
                        {
                            data: 'count'
                        }
                    ]
                });
        });
    });
</script>
</div>